exports.ssl_cert = "";
exports.ssl_key = "";
//exports.ssl_ca = [""];

exports.log_level = "debug";

exports.http_port = 80;
exports.https_port = 443;

exports.colab_servers = [
  {
    ip: "127.0.0.1",
    metrics_port: 8081,
    colab_port: 3148,
    ssl: false,
    name: "debug",
    exclude: true
  }
];

exports.poll_interval = 10000;
