/*jslint indent: 2, node: true, nomen: true, plusplus: true, todo: true */
exports.ssl_cert = "";
exports.ssl_key = "";
//exports.ssl_ca = [""];

exports.log_level = "debug";

exports.http_port = 80;
exports.https_port = 443;

// If any of these are true, mark the server as busy.
exports.busy = {
  loadavg: 0.5,
  mem_free: 0.3,
  rss_used: 0.7
};

// If abs(disk usage - average usage) > 0.1, balance (basically 10% disk usage difference)
exports.rebalance_threshold = 0.1;

exports.auth = {
  username: "test",
  password: "test"
};

exports.colab_servers = [
  {
    ip: "127.0.0.1",
    api_port: 8443,
    colab_port: 3148,
    ssl: false,
    name: "debug",
    exclude: false
  },
  {
    ip: "127.0.0.2",
    api_port: 8444,
    colab_port: 3149,
    ssl: false,
    name: "backup",
    backup: true
  }
];

exports.poll_interval = 10000;
exports.colab_error_threshold = 3;
exports.repcount = 3;
